{% extends "base.html" %}
{% load static %}

{% block title %} {{ code.name }}-{{ code.title }} Code Details {% endblock %}

{% block content %}
<h1>{{ code.name }} - {{ code.title }}</h1>


<div>
    <span>Drive type:
{#    多对多关系，如果要想显示所有的标签就用.all()，返回的是一个列表，遍历列表#}
        {% for drive in code.drive_type.all %}
            {{ drive.get_name_display }}

        {% endfor %}
    </span>

<div id="code_img" class="carousel slide" data-ride="carousel">
  <!-- 指示符 -->

        <ul class="carousel-indicators">

    {% for img in images %}




          {% if forloop.first %}
              <li data-target="#code_img" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
              {% else %}
              <li data-target="#code_img" data-slide-to="{{ forloop.counter0 }}"></li>
          {% endif %}

      {% endfor %}
        </ul>
  <!-- 轮播图片 -->

  <div class="carousel-inner">
      {% for img in images %}
          {% if forloop.first %}
              <div class="carousel-item active">
                <img src={{ img.photo_url }}>
              </div>
              {% else %}
              <div class="carousel-item">
                <img src={{ img.photo_url }}>
              </div>
          {% endif %}

      {% endfor %}
  </div>
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#code_img" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#code_img" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
    <br>
    <span>Brand: {{ code.get_brand_display }}</span> <br>
    <span>System:
    {% for system in code.system.all %}
        {{ system.name }}
    {% endfor %}

    </span>
    <br>
<span>
    Restrictions:
    <br>
    With: {{ code.restriction_with }}
    <br>
    Not With: {{ code.restriction_not_with }}
</span>
    {% autoescape off %}
    <hr>Personal Comments:
    {{ code.personal_comments }}
{% if code.knowledge %}
        <hr>
        Knowledge:
        {{ code.knowledge }}
{% endif %}
    <hr>
        Details:
    {{ code.content }}
    {% endautoescape %}
</div>

{% endblock %}