{% extends "base.html" %}
{% load static %}

{% block title %} {{ code.name }}-{{ code.title }} Code Details {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3>{{ code.name }} - {{ code.title }}</h3>
            <hr>
            {% if images %}
                <div id="code_img" class="carousel slide" data-ride="carousel">
                    <!-- 指示符 -->

                    <ul class="carousel-indicators">

                        {% for img in images %}
                            {% if forloop.first %}
                                <li data-target="#code_img" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                            {% else %}
                                <li data-target="#code_img" data-slide-to="{{ forloop.counter0 }}"></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                    <!-- 轮播图片 -->

                    <div class="carousel-inner">
                        {% for img in images %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                                    <img src={{ img.photo_url }}>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <img src={{ img.photo_url }}>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#code_img" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#code_img" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <h4>Characteristics:</h4>
            <table class="table table-hover">
                {#                <caption style="caption-side: top">General information</caption>#}
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">System</th>
                    <th scope="col">Drive</th>
                    {% if code.restriction_with %}
                        <th scope="col">With</th>
                    {% endif %}
                    {% if code.restriction_with %}
                        <th scope="col">Not With</th>
                    {% endif %}
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ code.get_brand_display }}</td>
                    <td>
                        {% for system in code.system.all %}
                            {{ system.name }}
                        {% endfor %}
                    </td>
                    <td> {% for drive in code.drive_type.all %}
                        {{ drive.get_name_display }}
                    {% endfor %}</td>
                    {% if code.restriction_with %}
                        <td>{{ code.restriction_with }}</td>
                    {% endif %}
                    {% if code.restriction_not_with %}
                        <td>{{ code.restriction_not_with }}</td>
                    {% endif %}
                    <td>{{ code.get_status_display }}</td>
                </tr>
                </tbody>
            </table>

            {% autoescape off %}

                {% if code.brief %}
                    <hr>
                    <h4>In Brief:</h4>
                    {{ code.brief }}
                {% endif %}

                {% if code.benefits %}
                    <hr>
                    <h4>Benefits and Arguments:</h4>
                    {{ code.benefits }}
                {% endif %}

                {% if code.comments %}
                    <hr>
                    <h4>S-AEF Comments:</h4>
                    {{ code.comments }}
                {% endif %}

                {% if code.personal_comments %}
                    <hr>
                    <h4>Personal Comments:</h4>
                    {{ code.personal_comments }}
                {% endif %}

                {% if code.knowledge %}
                    <hr>
                    <h4>Knowledge:</h4>
                    {{ code.knowledge }}
                {% endif %}

            {% endautoescape %}

        </div>

    </div>

{% endblock %}
