{% extends "base.html" %}
{% load static %}

{% block title %} Codes {% endblock %}

{% block content %}
    <div class="row text-center">
    <div class="col-md-12">
            <h1>Codes List</h1>
    </div>

</div>
    <hr>
<div class="row">
<div class="col-md-3">
    <hr>
</div>
<div class="col-md-9">
        <ul>

    {% for code in codes_list %}
        <li>

{#            <a href="{{ code.name }}-{{ code.title }}">{{ code }}</a>#}
        <a href="{{ code.name }}">{{ code }}</a>

        </li>
    {% endfor %}
        </ul>
</div>


</div>
{% endblock %}